# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# .venv
.venv/